name = "dialoguemaker/standard_theme"
version = "0.1.3"
description = ""
authors = ["Christian Toney <christian.toney@beastslash.com>"]
repository = "https://github.com/DialogueMaker/standard_theme"
license = "GPL-3.0"
includes = [
  "pesde.toml",
  "README.md",
  "LICENSE",
  "src/**/*.lua",
]

[target]
environment = "roblox"
lib = "src/init.lua"
build_files = ["src"]

[engines]
pesde = "^0.7.0-rc.3"
lune = "^0.8.9"

[indices]
default = "https://github.com/pesde-pkg/index"

[wally_indices]
default = "https://github.com/UpliftGames/wally-index"

[scripts]
roblox_sync_config_generator = ".pesde/scripts/roblox_sync_config_generator.luau"
sourcemap_generator = ".pesde/scripts/sourcemap_generator.luau"

[dev_dependencies]
scripts = { name = "pesde/scripts_rojo", version = "^0.1.0", target = "lune" }
rojo = { name = "pesde/rojo", version = "^7.5.1", target = "lune" }
luau_lsp = { name = "pesde/luau_lsp", version = "^1.48.0", target = "lune" }

[peer_dependencies]
react = { wally = "jsdotlua/react", version = "^17.2.1" }

[dependencies]
use_dynamic_size = { name = "dialoguemaker/use_dynamic_size", version = "^0.1.0-patch-2" }
useKeybindContinue = { name = "dialoguemaker/use_keybind_continue", version = "^0.1.2" }
use_pages = { name = "dialoguemaker/use_pages", version = "^0.1.0" }
use_responses = { name = "dialoguemaker/use_responses", version = "^0.1.2" }
use_typewriter = { name = "dialoguemaker/use_typewriter", version = "^0.1.0" }
dialogue_content_fitter = { name = "dialoguemaker/dialogue_content_fitter", version = "^0.1.0" }
DialogueMakerTypes = { name = "dialoguemaker/types", version = "^0.1.23" }